<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <title>Zen Operations Client - Operation Read</title>
    <link href="/webjars/font-awesome/5.8.2/css/all.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/css/operation-read.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"><i data-feather="home"></i></a>
        <input aria-label="Search" class="form-control form-control-dark w-100" placeholder="Search" type="text">
    </nav>
</header>
<main class="col-md-9 ml-sm-auto col-lg-10 px-4 container-fluid" role="main">
    <h1>Zen Operations - Operation Read</h1>
    <aside class="container-fluid">
        <nav>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i data-feather="file-text"></i>
                        All Operations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i data-feather="file-text"></i>
                        Reload this Operation
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i data-feather="file-text"></i>
                        Solve
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i data-feather="file-text"></i>
                        Partial Update
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <article class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Diet Problem</td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
</main>
<footer>

</footer>
<script src="/webjars/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/webjars/feather-icons/4.22.1/dist/feather.min.js" type="text/javascript"></script>
<script src="/webjars/chart.js/2.8.0/dist/Chart.min.js" type="text/javascript"></script>
<script src="/webjars/popper.js/1.15.0/popper.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/operation-read.js" type="text/javascript"></script>
</body>
</html>
